/assignment67/server_side/node_modules/
/assignment67/server_side/package-lock.json

/assignment67/server1and2/node_modules/
/assignment67/server1and2/package-lock.json


/assignment67/server3/node_modules/
/assignment67/server3/package-lock.json

/assignment67/server4/node_modules/
/assignment67/server4/package-lock.json

/assignment67/server5/node_modules/
/assignment67/server5/package-lock.json

/assignment67/server6/node_modules/
/assignment67/server6/package-lock.json

/assignment67/Api_server-2/node_modules/
/assignment67/Api_server-2/package-lock.json

/assignment67/apibysk/widesofttecktasks/7.Node-js/Api_server-2/node_modules/
/assignment67/apibysk/widesofttecktasks/7.Node-js/Api_server-2/package-lock.json

/assignment67/apiserver/pathparameter/node_modules/
/assignment67/apiserver/pathparameter/package-lock.json

/assignment67/apiserver/queryparams/node_modules/
/assignment67/apiserver/queryparams/package-lock.json

/assignment67/booksdb/node_modules/
/assignment67/booksdb/package-lock.json

/react-js/day1/app1/node_modules/
/react-js/day1/app1/package-lock.json