/assignment67/server_side/node_modules/
/assignment67/server_side/package-lock.json

/assignment67/server1and2/node_modules/
/assignment67/server1and2/package-lock.json


/assignment67/server3/node_modules/
/assignment67/server3/package-lock.json

/assignment67/server4/node_modules/
/assignment67/server4/package-lock.json