<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        h1{
            color: red;
            background-color: yellow;
        }
    </style>
</head>
<body>
    <h3>THE RASHTRASANT TUKADOJI UNIVERSITY, NAGPUR</h3>
    <br>
    <h1>PRIYADARSHINI COLLEGE OF ENGINEERING, NAGPUR</h1>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi autem asperiores eligendi quidem qui quae minus ad assumenda non reprehenderit nobis odit error esse fuga corrupti nihil doloribus delectus magnam laudantium et, aut labore sapiente quis possimus. Odit qui neque pariatur, reprehenderit quidem ab sapiente nam assumenda itaque natus quisquam.</p>
    <br>
    