<%- include("./partials/header.ejs") %>

    <h1>CARRIER
        <table border="1">
            <tr>
                <td>Sr. No.</td>
                <td>Role</td>
                <td>Vaccancies</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Lecturer</td>
                <td>22</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Clerk</td>
                <td>5</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Sanitary Workers</td>
                <td>20</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Assistant Professor</td>
                <td>221</td>
            </tr>
        </table>
    </h1>

    <%- include("./partials/footer.ejs") %>