<%- include("./partials/header.ejs")%>

 <form action="/submitform" method="POST">
        <input type="text" placeholder="enter your first name" name="firstname" required>
        <input type="text" placeholder="enter your last name" name="lastname" required>
        <input type="number" placeholder="enter your age" name="age" required>
        <button type="submit">Submit</button>
    </form>
    
<h1>THIS IS THE HOME PAGE OF THE UNIVSITY FOR THE WELFARE OF FACULTY AND THE STUDENTS</h1>


<%- include("./partials/footer.ejs")%>